body{

}

h1{
text-align: center;
color: orange;
}

h2{
  text-align: center;
  color: orange;
  background-color: grey;
}

.row{

}
.footer{
  padding: 40px;
}

.jumbotron jumbotron-fluid{
}

.container-fluid{

}

.fixed-bottom{
  text-align: center;
  background-color: orange;
  font-weight: bold;
  font-size: 18;
  margin-top: 20px;
  margin-bottom: 40px;
}

#navbarNav{
color: orange;
position: fixed;
right: 10px;
}

.nav-item{
  color: orange;
}

a.nav-link,
.navbar-nav, .navbar-light{
    color: orange;
}
.custom-link {
    color: orange;
    padding: 10px;
}
