body{

}

h1{
text-align: center;
color: orange;
background-color: grey;
}

h2{
  text-align: center;
  color: orange;
  background-color: grey;
}

.row{

}

.jumbotron jumbotron-fluid{
color: orange;
}

.container-fluid{

}

.fixed-bottom{
  text-align: center;
  background-color: orange;
  font-weight: bold;
  font-size: 18;
  margin-top: 20px;
  margin-bottom: 20px;
  
}
